

@media only screen and (min-width: 800px)  {
.mobile-back {
    display: none;
}
#leftFront, #leftShadow,  #rightShadow, #rightFront, #leftBack  ,#rightMiddle, #rightBack,  #leftMiddle, #leftFrontMiddle, #leftFrontMiddleOne, #leftFrontOne {
    display: block;
}

    .backLeaves {
        /* opacity: 0.5; */
        /* filter: saturate(90%) sepia(10%) brightness(125%); */
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
    }
    .rightLeaves {
        position: absolute;
        right: 35%;
        top: 5%;
        height: 100vh;
        object-fit: fill;
    }
.leftLeaves {

    position: absolute;
    left: -30%;
    top: 0;
    width: 90vw;
    object-fit: fill;
}
#leftShadow {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -45% 10vh;
}

#leftBack {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    /* transition: ease-in-out 70ms; */
}

#leftMiddle {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    /* transition: ease-in-out 80ms; */
}

#leftFront {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    z-index: 10;
    /* transition: ease-in-out 100ms; */
}
#leftFrontMiddle {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    z-index: 1;
    /* transition: ease-in-out 90ms; */
}

#leftFrontOne {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    z-index: 10;
    /* filter: saturate(170%) grayscale(60%) brightness(110%);    */
     /* opacity: 0.5; */
    /* transition: ease-in-out 100ms; */
}
#leftFrontMiddleOne {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: -50% 0vw;
    z-index: 1;
    /* filter: saturate(170%) grayscale(60%) brightness(110%); */
        /* opacity: 0.5; */
    /* transition: ease-in-out 90ms; */
}

#rightShadow {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: 0% 5%;
    translate: 50% 10vh;
}

#rightBack {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: 50% 5vh;
    /* transition: ease-in-out 70ms; */
}

#rightMiddle {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: 50% 5vh;
    /* transition: ease-in-out 80ms; */
}

#rightFront {
    display: block;
    position: fixed;
    height: 130vh;
    width: auto;
    translate: 60% 5vh;
        z-index: 5;
        /* transition: ease-in-out 100ms; */
}



.top {
    width: 50vw;
    height: 10vw;
    bottom: 2vh;
    padding-top: 0px;

}


.container {
    position: absolute;
    left: 10vw;
    margin-top: 10vh;
    width: 70vw;
    max-height: 400px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 32px;
    
}

.cont-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

    .self-image {
        position: relative;
        height: 25vw;
        width: 25vw;
        max-height: 370px;
        max-width: 370px;
    }

    .text-title {
        width: 100%;
        font-size: 2rem;
        color: #00312C;
        justify-content: flex-end;
    }

    .text {
        color: #00312C;
        font-weight: 400;
        margin-top: 1.5rem;
        width: 100%;
        font-size: 22px;
    }

    .about-text{
        color: #EAFFDA;
        font-size: 1.25rem;
        font-weight: 400;
        margin: 4vh!important;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        overflow-y: hidden!important;
    }
    


    .navigation {
        background-color: #EAFFDA00;
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 10vh;
        right: 5vw;
    }
    
    .navigation p {
        font-size: 34px;
        font-weight: 700;
    }

    
     .projects:hover p  {
            color: #A3F514;
            transition: ease-in-out 300ms;
        }
        .home:hover p  {
            color: #A3F514;
            transition: ease-in-out 300ms;
        }
        .about:hover p  {
            color: #A3F514;
            transition: ease-in-out 300ms;
        }
        .contact:hover p  {
            color: #A3F514;
            transition: ease-in-out 300ms;
        }

    
    .my-work {
        position: relative;
        /* height: 45vh; */
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 4vw;
    }
    
    .work {
        position: relative;
        height: 30vh;
        max-height: 200px;
        width: 12vw;
        max-width: 200px;
        transition: ease-in-out 100ms;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .work text {
        color: #00312C;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        overflow: visible;
    }

    .p2 {
        margin-bottom: 32vh;
    }




    





    .contact-info {
        position: absolute;
        height: 25vh;
        width: 55vw;
        top: 30vh;
        left: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contact-info p {
        color: #00312C;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    
    .email-me {
        height: 120px;
        width: 120px;
        justify-content: center;
    }
    
    .linked-in {
        height: 120px;
        width: 120px;
        justify-content: center;
    }
    
    .cv {
        height: 120px;
        width: 120px;
        justify-content: center;
    }
    
    .email-me:hover p {
        color: #A3F514;
        transition: ease-in-out 150ms;
    }
    .linked-in:hover p {
        color: #A3F514;
        transition: ease-in-out 150ms;
    }
    
    .cv:hover p {
        color: #A3F514;
        transition: ease-in-out 150ms;
    }

    .name {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 42px;
        font-weight: 600;
        overflow-y: hidden;
    }


}

@media only screen and (min-width: 1000px)  {
    .backLeaves {
        opacity: 1;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
    }

    #leftFrontMiddleOne, #leftFrontOne {
        opacity: 1;
    }
}
